body {
    background-color: rgb(243, 243, 243);
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2e3033;
    font-size: 18px;
}

.navbar {
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid rgb(240, 240, 240) ;
    list-style-type: none;
    margin: 0;
    padding: 0 100px 0 100px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.navbar li {
    display: inline-block;
    padding: 1% 0 1% 0;
}

.navbar li:hover {
    background-color: rgb(224, 224, 224);
}

.navbar li a{
    text-align: center;
    text-decoration: none;
    color: #202124;
}

.active {
    background-color: rgb(235, 235, 235);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box {
    padding: 75px 0px 0 100px;
    text-align: center;
    font-size: 24px;
}

.portrait {
    height: 600px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 6px solid rgba(32, 33, 36, 0.7);
    background-size: cover;

}

.logo {
    height: 300px;
    width: 300px;
    margin: auto auto auto auto;
    border-radius: 50%;
    border: 6px solid rgb(235, 235, 235);
    background-size: cover;
    background-repeat: no-repeat;
}

.border-box {
    border: 5px solid rgb(240, 240, 240);
    border-radius: 1%;
    background-color: rgb(247, 247, 247);
    padding: 50px;
    margin: 10px 100px 100px 100px;
}

.results{
    width: 100%;
    padding-bottom: 30px;
}

.pd-top-lg {
    padding-top: 100px;
}

.text-center{
    text-align: center;
}

.heading-lg{
    font-size: 50px;
}

.heading-md{
    font-size: 30px;
}